body{
  background: url(https://s-media-cache-ak0.pinimg.com/originals/41/87/c2/4187c215d99178db8e34b1ab14a2366a.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 200px;
}
h1{
  color: white;
}
